[report]
exclude_lines =
    if __name__ == "__main__":

[run]
include = */mmeds/*
omit =
    setup.py
    mmeds/tests/**
    scripts/**
    ~/.modules/**
    **/modules/**
    **/bad**
source =
    mmeds/
