#message {
    margin-top: 1.5%;
    padding-left: 2%;
    text-align: left;
}

/*Password checking begin*/
/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -6px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -6px;
    content: "✖";
}
/*Password checking end*/

/*Cookie consent begin
    Cookies notification based on
        https://html-online.com/articles/cookie-warning-widget-with-javascript/
*/
#myCookieConsent {
    z-index: 999;    
    min-height: 20px;            
    font-family: OpenSans, arial, "sans-serif";               
    padding: 10px 20px;
    background: rgba(0,0,0,0.6);
    overflow: hidden;
    position: fixed;
    color: #FFF;
    bottom: 0px;
    right: 10px;
    display: none;
    left: 0;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

#myCookieConsent div {
    padding: 5px 0 0;                      
}
                     
#myCookieConsent a {
    color: #ffba55;                    
    display: inline-block;                   
    padding: 0 10px;                          
}
                    
#myCookieConsent a:hover {
    color: #fda016;                          
}
                   
#myCookieConsent a#cookieButton {
    display: inline-block;                                 
    color: #000000;                          
    font-size: 1.1em;                   
    background: #ffba55;                     
    text-decoration: none;                        
    cursor: pointer;                          
    padding: 2px 20px;                    
    float: right;                      
    border-radius: 20px;                 
}
                        
#myCookieConsent a#cookieButton:hover {
    background: #fda016;                                       
    color: #000;                        
}
/*Cookie Consent End*/
